.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

table {
  float: left;
  margin: 20px;
  border: 1px solid black;
}
td {
  padding-left: 20px;
  padding-right: 20px;
}

.truck-warn {
  background: orange;
  color: black;
}

.truck-fine {
  background: green;
  color: white;
}
